
.fa {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    /* margin: 15px 3px; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    /*to change icon size!*/
    font-size: 15px;
    line-height: 30px !important;
  }

/*** Widget Social ***/

footer.bg-dark .social-btns .social-btn-roll {
    color: #fff;
    border-color: #4d5154;
}

footer.bg-dark .social-btns .social-btn-roll:hover {
    border-color: transparent;
}

/*********** 6.3 Buttons *************/

.btn {
    outline: none;
    padding: 0 10px;
    position: relative;
    line-height: 35px;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    text-transform: uppercase;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.btn.active,
.btn:active {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.btn:hover {
    color: inherit;
}

.btn:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn i {
    line-height: 35px;
    font-size: 10px;
    padding-left: 3px;
}

.btn-main:hover,
.btn-second:hover {
    -webkit-filter: brightness(113%);
    filter: brightness(113%);
    color: #fff;
}


/* button effect */

.btn-effect {
    overflow: hidden;
}

.ripple {
    width: 0;
    height: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}

.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
    100% {
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -o-transform: scale(2.5);
        -ms-transform: scale(2.5);
        transform: scale(2.5);
        opacity: 0;
    }
}


/* Btn Round */

.btn-round {
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}


/*** ====== 6.3.2 Social Media Buttons ====== ***/

ul.social-btns {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.social-btns li {
    display: inline-block;
    padding: 0 5px;
}

.social-btn-roll {
    /*to change size of buttons!*/
    width: 30px;
    height: 30px;
    border: 1px solid #3b5998;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.social-btn-roll:hover .social-btn-roll-icons {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.social-btn-roll:hover .social-btn-roll-icon {
    color: #f6f6f6;
}

.social-btn-roll-icons {
    width: 200%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.social-btn-roll-icon {
    width: 50%;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    float: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


/*** Social Media Button Colors ***/

.social-btn-roll.facebook {
    border-color: rgb(232, 236, 240);
    color: black;
}

.social-btn-roll.facebook:hover {
    background: black;
} 

/* .social-btn-roll.twitter {
    border-color: #4cc4f2;
    color: #4cc4f2;
}

.social-btn-roll.twitter:hover {
    background: #4cc4f2;
}*/

.social-btn-roll.instagram {
    /* border-color: #9b6954;*/
    color: black;
    border-color: rgb(232, 236, 240)
}

.social-btn-roll.instagram:hover {
    /* background: #9b6954; */
    background: black; 
}

.social-btn-roll.pinterest {
    /* border-color: #cb2027; */
    color: black;
    border-color: rgb(232, 236, 240)

}

.social-btn-roll.pinterest:hover {
    /* background: #cb2027; */
    background: black; 

}

.social-btn-roll.youtube {
    border-color: rgb(232, 236, 240);
    color: black;
}

.social-btn-roll.youtube:hover {
    background: black;
} 